/*Estilos CSS */
body {
    color: #000;
    background-image: url(background/alinhamento2.jfif);    
    background-size: 100%;
    margin: 1;
}
.header{
    color: ivory;
    margin: 10;
    text-align: center;

}

.conteudo {
    width: 70%;
    float:right;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-right: 140px;
}

a:visited {
    color:initial;
}

.menu{
    background-color: lightgrey;
    opacity: 50%;
    height: 75%;
    width: 10%;
    position: absolute;
}

.menu li{
    padding: 10px;
}

.menu ul {
    margin: 0; 
    padding: 0px;
    text-align: left;
    list-style-type: none;
    width: 10%;
}

.menu a:link {
    color: rgb(0, 0, 0);
    font-weight: bold;
	text-decoration: none;
    padding: 0px;
}

.menu a:hover {
    color: #039;
}
#Itensnaousados{
    display: block;
}