/*Estilos CSS */
body {
    color: #000;
    font: 12px Verdana, sans-serif;
    background-image: url(background/alinhamento2.jfif);
    
}
header{
    color: ivory;
    width: 30%;
    margin: 10; padding: 10;

}
#conteudo {
    width: 70%;
    float: right;
    text-align: center;
    color: white;
}
#Menu{
    width: 30%;
	margin: 0; padding: 0;
	float: left;
    color: mistyrose;
}
#menu ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}
#menu a:link {
	background: #fdfdff;
	color: rgb(0, 0, 0);
    font-weight: bold;
	text-decoration: none;
    padding: 0px;
}

#menu a:hover {
    background: #E5F0FF;
    color: #039;
}
#Itensnaousados{
    display: block;
}